<?xml version='1.0' encoding='utf-8'?>
<widget id="com.first.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>my First App</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	<platform name="android">
<!-- 
            ldpi    : 36x36 px 
            mdpi    : 48x48 px 
            hdpi    : 72x72 px 
            xhdpi   : 96x96 px 
            xxhdpi  : 144x144 px 
            xxxhdpi : 192x192 px 
        -->
<icon src="res/icon/android/ldpi.png"density="ldpi"/>
<icon src="res/icon/android/mdpi.png"density="mdpi"/>
<icon src="res/icon/android/hdpi.png"density="hdpi"/>
<icon src="res/icon/android/xhdpi.png"density="xhdpi"/>
<icon src="res/icon/android/xxhdpi.png"density="xxhdpi"/>
<icon src="res/icon/android/xxxhdpi.png"density="xxxhdpi"/>

<splash src="res/screen/android/drawable-land-hdpi/hdpi.png" density="land-hdpi"/>
<splash src="res/screen/android/drawable-land-ldpi/ldpi.png" density="land-ldpi"/>
<splash src="res/screen/android/drawable-land-mdpi/mdpi.png" density="land-mdpi"/>
<splash src="res/screen/android/drawable-land-xhdpi/xhdpi.png" density="land-xhdpi"/>
<splash src="res/screen/android/drawable-port-hdpi/hdpi.png" density="port-hdpi"/>
<splash src="res/screen/android/drawable-port-ldpi/ldpi.png" density="port-ldpi"/>
<splash src="res/screen/android/drawable-port-mdpi/mdpi.png" density="port-mdpi"/>
<splash src="res/screen/android/drawable-port-xhdpi/xhdpi.png" density="port-xhdpi"/>
</platform>
</widget>
